@page
@model IndexModel
@{
    ViewData["Title"] = "Aula 2 Impacta";
}

<style>
    .borda{
        border: 1px solid darkgrey;
        border-radius: 15px;
        padding: 20px;
        backgound-color: darkgrey
    }

    .centraliza {
        text-align:center;
    }
</style>

<div class="borda centraliza">
    <h3>Bem vindo ao curso de ASP.NET</h3>
</div>

<h4>Aproveite todo o conteúdo</h4>
<ul>
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
</ul>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

